* {
    border: none;
    outline: none;
}
body {
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    letter-spacing: 5px;
}
.todos {
    margin: auto;
    width: 98%
}
.todos li {
}
